{% extends "base.html" %}
{% load static %}
{%block css%}
    <link rel="stylesheet" href="{% static "css/eash.css" %}">
{%endblock css%}

{% block mainContent %}

<div class="goback" >
    <a href="{% url 'shop' %}">
        <img src="{%static 'images/left-arrow.png'%}" alt="">
    </a>
</div>

        <div class="modal-dialog modal-dialog-centered " role="document">
            
            
            <div class="modal-content">
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="modal_tab">
                                    <div class="tab-content product-details-large">
                                        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="{{perfume.brandImage.url}}" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2 perfume-name="{{perfume.name}}">{{perfume.name}}</h2> 
                                        <span class="text-muted" id="sizeofbtl"></span>
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price" id="lowPrice"></span>
                                        <span class="old_price"  id="highPrice"></span>
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p perfume-description="{{perfume.description}}">{{perfume.description}}</p>
                                    </div>
                                    <div class="variants_selects">
                                        <div class="variants_size">
                                            <h2>Size</h2>
                                            
                                                <select  id="selectSize" class=" select_option_design">
                                                    {% for size in perfume.sizes.all %}
                                                      <option 
                                                          value="{{ size.size }}" 
                                                          size="{{ size.size }}" 
                                                          min-value="{{ size.minPrice }}" 
                                                          max-value="{{ size.high_size }}"
                                                          {% if size.size == '50ml' %} selected {% endif %}
                                                      >
                                                          {{ size.size }} ({{ size.high_size }}$)
                                                      </option>
                                                    {% endfor %}
                                                  </select> 
                                                  
                                                  
                                        </div>
                                        
                                        <div class="modal_add_to_cart">
                                            <form action="#">
                                                <input type="number" min="1" max="100" step="1" value="1" id="quantity">
                                                <button type="submit" phone_number="{{setting.phone}}"id="sendWhatsappButton">Make an Order</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal_social">
                                        <h2>Follow us on</h2>
                                        <ul>
                                            <li class="facebook"><a href="{{setting.facebookLink}}"><i class="fa fa-facebook"></i></a></li>

                                            <li class='mt-3'>
                                            <a href="https://wa.me/{{setting.phone}}">
                                               <img src="{% static "images/whatsapp.png" %}"/>
                                            </a>
                                        </li>
                                        <li class='mt-3'>
                                            <a href="{{setting.instagramLink}}">
                                                <img src="{% static "images/instagram.png" %}"/>
                                            </a>
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                        </div> 
<hr style="height:10px">
                        <div class="container">
                            <div class="bg-dark">
                            <h1 class="text-center total-price bg-light mb-4">More {{perfume.gender}} Perfumes</h1>
                            </div>
                            <ul class="SameCat_ul_container" >
                                    {% for sameCat in sameCategory %}
                                    <li class="h-100">
                                        <a href="{% url 'product' pk=sameCat.id %}" id="productSameCategory_reload">
                                            <img src="{{ sameCat.brandImage.url }}" alt="{{ sameCat.name }}">
                                            <p class="text-center">{{sameCat.name}}</p>
                                        </a>
                                    </li>
                                    {% endfor %}
                            </ul> 
                        </div>

                    </div>
                </div>
                
            </div>
        </div>

  
    {% endblock mainContent %}

    
    {%block js %} <script src="{% static "js/product.js" %}"></script> {%endblock js%}