{% extends "base.html" %}
{% load static %}

{%block css%}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
{%endblock css%}


{% comment %} 
{% block gendersNav2 %}
{% for prod in gen %}
<li><a href="
    {% if prod.gender == 'Male' %}
#mangodown
{% elif prod.gender == 'Female' %}
#womangodown

{% endif %}
    ">{{prod.gender}}</a></li>
{% endfor %}
{% endblock gendersNav2 %}  {% endcomment %}

{% block mainContent %}
    

    <!-- slider section starts  -->
    <section class="slider_section slider_section2 mb-66">
        <div class="slider_area owl-carousel">
            <div class="single_slider d-flex align-items-center" data-bgimg="{% static "images/slider/slider1.jpg" %}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6 col-md-6 offset-md-6">
                            <div class="slider_content slider_content2 content_right">
                                <h1>Men's Collection</h1>
                                <h2>Wild Stone</h2>
                                <p>The rich aromatic notes of rosemary and nerolu combined with the sophistication of
                                    tonka beans and white beans and white woods to create the perfect accompaniment for
                                    the suited look.</p>
                                <a href="#" class="button">Shop Now <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="single_slider d-flex align-items-center" data-bgimg="{% static "images/slider/slider2.jpg" %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-7">
                            <div class="slider_content slider_content2 content_left">
                                <h1>Watch</h1>
                                <h2>Maison Micallef</h2>
                                <p>This perfume is a wonderful elixir that heightens both the scents of gourmet Bourbon
                                    vanilla and those refined of tuberose and jasmine. The delightful alliance reminds
                                    of tropical paradise.</p>
                                <a href="#" class="button">Shop Now <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- product area starts -->

    <div class="product_area product_area_two">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>New Products</h2>
                        <div class="product_tab_btn">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a href="#mangodown" class="active">
                                        Men
                                    </a>
                                </li>
                                <li>
                                    <a href="#womangodown"
                                        aria-selected="false">
                                        Women
                                    </a>
                                </li>
                                <li>
                                    <a href="#unigodown" 
                                        aria-selected="false">
                                        Unisex
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> 

<!-- man ################################# -->
            <div class="tab-content ">
                <div class="container-fluid text-center d-flex justify-content-center align-items-center" style="overflow: hidden; height:200px; ">
                    <img src="{% static "images/pngwing.com.png" %}" alt="" class="categoryPerfiumGenderImage">
                    <h1 class="categoryPerfiumGender" id="mangodown">MEN</h1>
                    <img src="{% static "images/pngwing.com.png" %}" alt="" class="categoryPerfiumGenderImage" >
                </div>

                                <div class="tab-pane fade show active" id="Men" role="tabpanel">
                                    <div class="row">
                                        <div class="product_carousel product_column4 owl-carousel">

                                            {% for prod in male %}
                                            <div class="col-lg-3">
                                                <article class="single_product">
                                                    <figure>
                                                        <div class="product_thumb">
                                                            <a href="{% url 'product' prod.pk %}" class="primary_img">
                                                                <img src="{{ prod.brandImage.url }}" alt="">
                                                            </a>
                                                            <a href="{% url 'product' prod.pk %}" class="secondary_img">
                                                                <img src="{% static "images/jPerfSmall.webp" %}" alt="">
                                                            </a>
                                                            <div class="action_links">
                                                                <ul>
                                                                    <li class="add_to_cart">
                                                                        <a href="#" title="Add to Cart">
                                                                            <i class="fa fa-shopping-cart"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="wishlist">
                                                                        <a href="#" title="Add to Wishlist">
                                                                            <i class="fa fa-heart-o"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="compare">
                                                                        <a href="#" title="Add to Compare">
                                                                            <i class="fa fa-random"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="quick_button">
                                                                        <a href="{% url 'product' prod.pk %}" 
                                                                        title="Quick View">
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <figcaption class="product_content">
                                                            <h4 class="product_name">
                                                                <a href="#">{{ prod.name }}</a>
                                                            </h4>
    
                                                            <div class="price_box">
                                                                {% for size in prod.sizes.all %}
                                                                {% if size.size == "50ml" %}
                                                                <span class="current_price">${{ size.minPrice }}</span>
                                                                <span class="old_price">${{ size.high_size }}</span>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                            <div class="product_rating">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </figcaption>
                                                    </figure>
                                                </article>
                                            </div>
                                {% endfor %}

                                        </div>
                                    </div>
                                </div>
            </div>

<!-- women ################################## -->
            <div class="tab-content my-5">
                <div class="container-fluid text-center d-flex justify-content-center align-items-center" style="overflow: hidden; height: 200px;">
                    <img src="{% static "images/pngwing.com.png" %}" alt="" class="categoryPerfiumGenderImage">
                    <h1 class="categoryPerfiumGender" id="womangodown">women</h1>
                    <img src="{% static "images/pngwing.com.png" %}" alt="" class="categoryPerfiumGenderImage" >
                </div>
                
                    
                                    <div class="tab-pane fade show active" id="Men" role="tabpanel">
                                        <div class="row">
                                            <div class="product_carousel product_column4 owl-carousel">
                                                {% for prod in female %}
                                                <div class="col-lg-3">
                                                    <article class="single_product">
                                                        <figure>
                                                            <div class="product_thumb">
                                                                <a href="{% url 'product' prod.pk %}" class="primary_img">
                                                                    <img src="{{ prod.brandImage.url }}" alt="">
                                                                </a>
                                                                <a href="{% url 'product' prod.pk %}" class="secondary_img">
                                                                    <img src="{% static "images/jPerfSmall.webp" %}" alt="">
                                                                </a>
                                                                <div class="action_links">
                                                                    <ul>
                                                                        <li class="add_to_cart">
                                                                            <a href="#" title="Add to Cart">
                                                                                <i class="fa fa-shopping-cart"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="wishlist">
                                                                            <a href="#" title="Add to Wishlist">
                                                                                <i class="fa fa-heart-o"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="compare">
                                                                            <a href="#" title="Add to Compare">
                                                                                <i class="fa fa-random"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="quick_button">
                                                                            <a href="{% url 'product' prod.pk %}" 
                                                                            title="Quick View">
                                                                                <i class="fa fa-eye"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <figcaption class="product_content">
                                                                <h4 class="product_name">
                                                                    <a href="#">{{ prod.name }}</a>
                                                                </h4>
        
                                                                <div class="price_box">
                                                                    {% for size in prod.sizes.all %}
                                                                    {% if size.size == "50ml" %}
                                                                    <span class="current_price">${{ size.minPrice }}</span>
                                                                    <span class="old_price">${{ size.high_size }}</span>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="product_rating">
                                                                    <ul>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                    </article>
                                                </div>
                                    {% endfor %}

                                        </div>
                                    </div>
            </div>
            
<!-- unisex ################################## -->
            <div class="tab-content ">
        <div class="container-fluid text-center d-flex justify-content-center align-items-center" style="overflow: hidden; height: 200px;">
                    <img src="{% static "images/pngwing.com.png" %}" alt="" class="categoryPerfiumGenderImage">
                    <h1 class="categoryPerfiumGender"  id="unigodown">Unisex</h1>
                    <img src="{% static "images/pngwing.com.png" %}" alt="" class="categoryPerfiumGenderImage" >
                </div>
            
                            <div class="tab-pane fade show active" id="Men" role="tabpanel">
                                <div class="row">
                                    <div class="product_carousel product_column4 owl-carousel">
                                        {% for prod in unisex %}
                                            <div class="col-lg-3">
                                                <article class="single_product">
                                                    <figure>
                                                        <div class="product_thumb">
                                                            <a href="{% url 'product' prod.pk %}" class="primary_img">
                                                                <img src="{{ prod.brandImage.url }}" alt="">
                                                            </a>
                                                            <a href="{% url 'product' prod.pk %}" class="secondary_img">
                                                                <img src="{% static "images/jPerfSmall.webp" %}" alt="">
                                                            </a>
                                                            <div class="action_links">
                                                                <ul>
                                                                    <li class="add_to_cart">
                                                                        <a href="#" title="Add to Cart">
                                                                            <i class="fa fa-shopping-cart"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="wishlist">
                                                                        <a href="#" title="Add to Wishlist">
                                                                            <i class="fa fa-heart-o"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="compare">
                                                                        <a href="#" title="Add to Compare">
                                                                            <i class="fa fa-random"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="quick_button">
                                                                        <a href="{% url 'product' prod.pk %}" 
                                                                        title="Quick View">
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <figcaption class="product_content">
                                                            <h4 class="product_name">
                                                                <a href="#">{{ prod.name }}</a>
                                                            </h4>
    
                                                            <div class="price_box">
                                                                {% for size in prod.sizes.all %}
                                                                {% if size.size == "50ml" %}
                                                                <span class="current_price">${{ size.minPrice }}</span>
                                                                <span class="old_price">${{ size.high_size }}</span>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                            <div class="product_rating">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </figcaption>
                                                    </figure>
                                                </article>
                                            </div>
                                {% endfor %}
 
                                    </div>
                                </div>
                            </div>
            <!-- man end here ########################################################################## -->
            </div>  

        </div>
    </div>

    <!-- product area ends -->


    <div class=" prfiumMixContainer p-4 mt-4">
        <div class="container-fluid text-center d-flex justify-content-center align-items-center" style="overflow: hidden; height: 250px;">
            <img src="{% static "images/6aa9905e29839.png" %}" alt="" class="categoryPerfiumGenderImage">
            <h1 class="categoryPerfiumGenderp">Create Your Unique Perfume</h1>
            <img src="{% static "images/6aa9905e29839.png" %}" alt="" class="categoryPerfiumGenderImage" >
        </div>
        
        <div class="container d-flex align-item-center justify-content-center" style="flex-direction: column;">
            <p class="text-light text-center">Choose your bottle size, pick your favorite essences, and create a fragrance that's truly yours!</p>
            <button class="start-btn button text-center" onclick="startCustomization()">Start Creating</button>
        </div>
        <div id="customization-section" class="customization-section" style="display:none;">
            <h2 class="categoryPerfiumGenderp text-center">Step 1: Choose Your Bottle Size</h2>
            <div class="bottle-size my-5">
                <div class="bottle-option" data-size="30ml" data-price="5" onclick="selectBottle(this)">
                    <img src="{%static 'images/30ml.jpeg'%}" alt="50ml Bottle">
                    <p>30ml</p>
                    <p>$5</p>
                </div>
                <div class="bottle-option" data-size="50ml" data-price="8" onclick="selectBottle(this)">
                    <img src="{%static 'images/50ml.png'%}" alt="50ml Bottle">
                    <p>50ml</p>
                    <p>$8</p>
                </div>
                <div class="bottle-option" data-size="100ml" data-price="13" onclick="selectBottle(this)">
                    <img src="{%static 'images/100ml.png'%}" alt="150ml Bottle">
                    <p>100ml</p>
                    <p>$13</p>
                </div>
            </div>

            <h2 class="categoryPerfiumGenderp text-center">Step 2: Select Your Essences</h2>
            <div class="container d-flex justify-content-end align-item-center p-0">
                <button class="mx-3 btn btn_clear_designe" id="btn_clear">Clear</button><br>
                <button type="button"  phone_number="{{setting.phone}}" class="btn btn_clear_designe" onclick="whatsapp_text()" id="send-button">send your mix</button>

            </div>
            <div class="essence-selection my-5">
                <h1 class="total-price w-100 d-block text-center">male : </h1>
                {% for prod in male %}
                    <div class="essence" data-essence="{{prod.name}}" data-price ="0" onclick="selectEssence(this)">
                        <img src="{{prod.brandImage.url}}" alt="{{prod.name}}">
                        <p>{{prod.name}}</p>
                    </div>
                {% endfor %}
                <br></hr>
                <h1 class="total-price w-100 d-block text-center">female : </h1>
                {% for prod in female %}
                    <div class="essence" data-essence="{{prod.name}}" data-price ="0" onclick="selectEssence(this)">
                        <img src="{{prod.brandImage.url}}" alt="{{prod.name}}">
                        <p>{{prod.name}}</p>
                    </div>
                {% endfor %}
                <h1 class="total-price w-100 d-block text-center">Unisex : </h1>
                {% for prod in unisex %}
                    <div class="essence" data-price ="0" data-essence="{{prod.name}}"  onclick="selectEssence(this)">
                        <img src="{{prod.brandImage.url}}" alt="{{prod.name}}">
                        <p>{{prod.name}}</p>
                    </div>
                {% endfor %}
            </div>

           
            <h2 class="categoryPerfiumGenderp text-center">Step 3: Total Price</h2>
            <p id="total-price" class="text-center small_price">Total: $0.00</p>
            
        
        </div>
    </div>


    <!-- home section area starts  -->

    <div class="home_section_two color_two mb-70">   
    <section class="blog_section blog_two color_two mb-65">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>From Our Blog</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="blog_carousel blog_column3 owl-carousel">
                    {% for blog in blog %}
                    <div class="col-lg-3">
                        <div class="single_blog">
                            <figure>
                                <div class="blog_thumb">
                                    <a href="#">
                                        <img src="{{blog.blogImg.url}}" alt="">
                                    </a>
                                </div>
                                <figcaption class="blog_content">
                                    <h4 class="post_title">
                                        <a href="#">
                                            {{blog.title}}
                                        </a>
                                    </h4>
                                    <p class="post_desc">
                                        {{blog.content}}
                                    </p>
                                    <footer class="btn_more">
                                        <a href="#">Read More...</a>
                                    </footer>
                                </figcaption>
                            </figure>
                        </div>
                    </div> 
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </section>

    </div>
    
    </div>

    <!-- About Us Section -->
    <section id="about-us" class=" p-5 mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2 id="total-price">About Us</h2>
                <p id="total-price" style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed euismod, libero a tincidunt lacinia, nunc diam tincidunt tellus, at tincidunt justo mi id metus. Sed auctor, ex id sodales tincidunt, enim nunc tincidunt nisl, ut cursus urna nisl in nunc. Nullam euismod, erat vel aliquet ultrices, purus urna tincidunt nunc, at eleifend nisl nunc eu justo. Sed vitae nunc nec tellus varius aliquet. Sed auctor, ex id sodales tincidunt, enim nunc tincidunt nisl, ut cursus urna nisl in nunc.</p>
            </div>
            <div class="col-md-6">
                <img src="{%static 'images/JP2.jpeg'%}" alt="About Us Image" class="img-fluid">
            </div>
        </div>
    </section>
 
    <!-- Team Section -->
    <section id="team" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4" id="total-price">Our Team</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="{%static 'images/JP2.jpeg'%}" alt="Team Member 1" class="card-img-top">
                        <div class="card-body">
                            <h5 id="total-price" class="card-title text-center">Owner</h5>
                            <p  class="small_price text-center">{{setting.owner_name}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{%static 'images/developer.jpg'%}" alt="Team Member 2" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center" id="total-price">Our Developer</h5>
                            <p class="small_price text-center">Peter.J.Khater</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="team-member-3.jpg" alt="Team Member 3" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Mike Johnson</h5>
                            <p class="card-text">Position</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock mainContent %}
    <!-- blog section ends -->
